.background_log{
    height: 100vh;
  margin:0;
    display: grid;
    place-content: center;
    place-items: center;
    background: url('/assets/back.gif') center/cover no-repeat;
    background-size: 150%;
}



.content_log{
    background-color: rgb(255, 255, 255,0.5);
    height:70vh;
    width:90vh;
   margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgb(24, 16, 16) ;
   background-blend-mode: darken;
    
}
.content_log h1{
    text-align: center;

}
.content_log textarea{
   
    resize:none;
    border-radius:5px;
}